.completer {

}

.completer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.completer ul li.active {
  background-color: #222;
}

.completer .commit {
  margin-right: 2em;
  color: firebrick;
  font-family: courier;
}

.completer .summary {

}

.completer .result-count {
  background-color: #ddd;
  margin: 0.5em;
  padding: 0 0.2em;
  border-radius: 0.5em;
}

.increase {
  color: darkred;
}

.decrease {
  color: darkgreen;
}
