body.working #please-wait {display: block;}
body.working #results {display: none;}
body #please-wait {display: none;}
body #results {display: block;}

commit {
    color: rgb(45, 96, 249);
}

td {
    padding: 0 2em;
}

#deltas tr:hover {
    background-color: #ddd;
}
