/* spinner */
body.working #please-wait {display: block;}
body.working #results {display: none;}
body #results {display: block;}
body #please-wait {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

body #please-wait .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

body #please-wait .overlay {
    width: 300px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    top: 2em;
}

header h1 {
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    margin-bottom: 1em;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid transparent;
}

.commit {
    color: #223399;
}

td {
    padding: 0 2em;
}

#deltas tbody tr:hover {
    background-color: #ddd;
}

/* tests */
div.tests {
    flex: 0 0.1 15em;
}

div.tests ul {
    list-style: none;
    overflow: scroll;
    max-height: 80vh;
    padding-left: 0;
}

div.tests ul li {
    list-style: none;
}

div.tests label {
    font-weight: normal;
}

.improvement {color: darkgreen;}
.regression {color: darkred;}

div#results {
    flex: 1 0.9 auto;
}

div#plot {
    width: 1600px;
    height: 800px;
}

/* branch selector */
#branch-selector .commit-name {
    font-family: courier;
}
