body.working #please-wait {display: block;}
body.working #results {display: none;}
body #please-wait {display: none;}
body #results {display: block;}

.commit {
    color: #223399;
}

td {
    padding: 0 2em;
}

#deltas tbody tr:hover {
    background-color: #ddd;
}

tr.selected {
    background-color: #ffc;
}

div.tests {
    flex: 0 0.1 10em;
}

.improvement {color: darkgreen;}
.regression {color: darkred;}

div.tests ul {
    list-style: none;
    overflow: scroll;
    max-height: 80vh;
    padding-left: 0;
}

div.tests ul li {
    list-style: none;
}

div#results {
    flex: 1 0.9 auto;
}

div#plot {
    width: 1600px;
    height: 800px;
}
